@mixin texts {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 16px 0px;
    text-decoration: none;
}

@mixin linkblue {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #00BAFC;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
    transition: all .5s;
    border: 3px solid #00BAFC;

    &:hover {
        background: #fff;
        color: #00BAFC;
    }

    &:active {
        background: rgba(0, 186, 252, 0.6);
    }
}

@mixin footer-bold {
    font-family: ' Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
}

@mixin footer-text {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

@mixin titles {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;

    /* or 31px */

    color: #000000;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    display: inline-block;
}

ul,
ol {
    list-style: none;
}

.nav {
    padding: 18px 0;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-logo-img {
            max-width: 58.11px;
            max-height: 20px;
        }

        .menuToggle {
            color: #fff;
            padding: 10px 15px;
            cursor: pointer;
            display: none;
        }

        .icon {
            width: 25px;
            height: 25px;
            cursor: pointer;
        }

        .hamburger {
            width: 40px;
            height: 4px;
            transform: translate(-50%, -50%);
            background: #000;
            transition: 0.5s;
            display: inline-block;
            margin-left: 12px;
            position: absolute;
            right: 20px;
        }

        .hamburger:before,
        .hamburger:after {
            content: "";
            width: 40px;
            height: 4px;
            position: absolute;
            background: #000;
            transition: 0.5s;
        }

        .hamburger:before {
            top: -16px;
        }

        .hamburger:after {
            top: 16px;
        }

        .icon:active .hamburger {
            background: rgba(0, 0, 0, 0);
        }

        .icon:active .hamburger:before {
            top: 0;
            transform: rotate(45deg);
        }

        .icon:active .hamburger:after {
            top: 0;
            transform: rotate(135deg);
        }

    }

    .nav-list {
        display: flex;
        align-items: center;

        li {
            display: inline-block;
        }

        .nav-link {
            @include texts;
            margin: 0 16px;

            background:
                linear-gradient(currentColor 0 0) var(--p, 50%) 100% /var(--d, 10%) 3px no-repeat;
            transition: 0.3s, background-position 0s;
            padding: 4px 0;
            &:hover {
                --d: 100%;
                --p: 0%;
                transition: 0.3s, background-size 0.3s 0.3s;
            }

        }

        .nav-blue {
            @include linkblue;
        }
    }
}

.header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 80px 0;

        .box {
            width: 45%;

            .header-title {
                @include titles;
                text-align: left
            }

            .header-text {
                @include texts;
                margin: 16px 0;
            }

            .header-link {
                @include linkblue;
            }
        }

        iframe {
            border-radius: 5px;
        }
    }
}

.main {
    text-align: center;
    padding: 56px 0;

    .main-text {
        @include texts;
        margin: 16px 0;
    }

    .main-title {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 130%;
        text-align: center;
        color: #000000;
    }

    .main-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        .main-itm {
            width: 30%;
            background: #FFFFFF;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            padding: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 48px;

            &:hover {
                background: #FFFFFF;
                box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
            }

            &:active {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
                border-radius: 5px;
            }

            .main-strong {
                font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 130%;
                text-align: center;
                color: #000000;
                margin: 16px 0;
            }
        }
    }

    .main-blue {
        @include linkblue;
    }

    .main-link-non-blue {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        text-decoration-line: underline;
        color: #00BAFC;
        margin-left: 16px;
    }
}

.how-work {
    padding: 55px 0;

    .how-title {
        @include titles;
    }

    .how-text {
        @include texts;
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .how-box {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        justify-content: center;

        &:nth-child(odd) {
            margin-left: 75px;
        }

        .how-box-img {
            width: 300px;
            height: auto;
        }

        .how-box-right {
            padding: 0 30px;
            width: 50%;

            .how-strong {
                font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 130%;
                text-align: center;
                color: #000000;
            }

            .how-text {
                text-align: left;
            }
        }


    }

    .how-box-reverse {
        flex-direction: row-reverse;
    }

    .how-blue {
        @include linkblue;

    }
}

.book {
    background: #00BAFC;
    padding: 55px 0;

    .book-title {
        @include titles;
        color: #fff;
        text-align: center
    }

    .book-text {
        @include texts;
        color: #fff;
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .box-book {
            margin-top: 5%;

            form {
                display: flex;
                flex-direction: column;
                align-items: center;

                label {
                    width: 100%;
                }

                width: 100%;
            }

            width: 35%;
            background: #FFFFFF;
            border-radius: 5px;
            padding: 24px;

            .myname,
            .phone-number,
            .selection {
                width: 100%;
                padding: 16px;
                background: #F3F3F3;
                border-radius: 5px;
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                text-align: left;
                color: #000000;
                border: none;
                display: block;
                outline: none;
                margin-bottom: 16px;
            }

            .selection {
                display: block;
                width: 100%;
                appearance: none;
                -webkit-appearance: none;
                position: relative;
                background: url("../img/arrow.svg") no-repeat right #F3F3F3;
                background-position: center right 20px;
            }

            .form-button {
                @include linkblue;
                border: 3px solid #00BAFC;
                cursor: pointer;
            }
        }
    }
}

.footer-nav {
    background: #191919;
    padding: 55px 0;

    .footer-list {
        display: flex;

        .copyright-itm {
            width: 30%;
        }

        li {
            margin-right: 35px;

            .footer-link,
            .footer-social-link {
                @include texts;
                color: #fff;
                margin: 4px 0;
                transition: all 0.5s;

                i {
                    font-size: 21px;
                    margin-right: 6px;
                }

                &:hover {
                    color: #00BAFC;

                    i {
                        color: #fff;
                    }
                }

                &:active {
                    color: #00BAFC;

                    i {
                        color: rgb(151, 151, 151)
                    }
                }

            }

            .footer-text {
                @include texts;
                color: #fff;
                margin-top: 20px;
            }

            .footer-list-links,
            .footer-social-list {
                margin-top: 20px;
            }
        }
    }

    .footer-strong,
    .footer-info {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 130%;

        /* identical to box height, or 26px */

        color: #FFFFFF;


    }
}