@media (max-width: 1100px) {
  body .container {
    width: 1000px;
  }
}
@media (max-width: 1000px) {
  body .container {
    width: 900px;
  }

  .header .container {
    flex-direction: column-reverse;
  }
  .header .container .box {
    margin-top: 30px;
    text-align: center;
  }
}
@media (max-width: 900px) {
  body .container {
    width: 800px;
  }

  body .nav .nav-list {
    display: none;
  }
  body .nav .container .nav-button {
    display: inline-block;
    padding: 10px 20px;
  }
}
@media (max-width: 800px) {
  body .container {
    width: 700px;
  }

  body .header .container .box {
    width: 70%;
  }
  body .main .container .main-itm {
    width: 45%;
  }
  body .book .container .box-book {
    width: 70%;
    margin-top: 20px;
  }
}
@media (max-width: 700px) {
  body .container {
    width: 600px;
  }

  body .header .container .box {
    width: 100%;
  }

  body .main .container .main-list {
    margin-top: 50px;
  }

  .footer .container .footer-list {
    justify-content: space-between;
  }
  .footer .container .footer-list li {
    margin: 0;
  }
}
@media (max-width: 600px) {
  body .container {
    width: 90%;
  }

  .how-work .container .how-box {
    flex-direction: column;
  }
  .how-work .container .how-box .how-box-right {
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }
  .how-work .container .how-box .how-box-right .how-text {
    text-align: center;
  }

  body .footer-list {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  body .footer-list li {
    width: 100%;
    margin: 20px 0;
  }

  body .footer-nav .footer-list .copyright-itm {
    width: 100%;
  }

  body header iframe {
    width: 100%;
  }
  body .main .main-list .main-itm {
    width: 100%;
  }
}
@media (max-width: 500px) {
  body .container {
    width: 90%;
  }

  body .book .container .box-book {
    width: 100%;
  }
}