* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
          user-select: none;
  scroll-behavior: smooth;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

a {
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

.nav {
  padding: 18px 0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .container .nav-logo-img {
  max-width: 58.11px;
  max-height: 20px;
}
.nav .container .menuToggle {
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  display: none;
}
.nav .container .icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.nav .container .hamburger {
  width: 40px;
  height: 4px;
  transform: translate(-50%, -50%);
  background: #000;
  transition: 0.5s;
  display: inline-block;
  margin-left: 12px;
  position: absolute;
  right: 20px;
}
.nav .container .hamburger:before,
.nav .container .hamburger:after {
  content: "";
  width: 40px;
  height: 4px;
  position: absolute;
  background: #000;
  transition: 0.5s;
}
.nav .container .hamburger:before {
  top: -16px;
}
.nav .container .hamburger:after {
  top: 16px;
}
.nav .container .icon:active .hamburger {
  background: rgba(0, 0, 0, 0);
}
.nav .container .icon:active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}
.nav .container .icon:active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}
.nav .nav-list {
  display: flex;
  align-items: center;
}
.nav .nav-list li {
  display: inline-block;
}
.nav .nav-list .nav-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 16px 0px;
  text-decoration: none;
  margin: 0 16px;
  background: linear-gradient(currentColor 0 0) var(--p, 50%) 100%/var(--d, 10%) 3px no-repeat;
  transition: 0.3s, background-position 0s;
  padding: 4px 0;
}
.nav .nav-list .nav-link:hover {
  --d: 100%;
  --p: 0%;
  transition: 0.3s, background-size 0.3s 0.3s;
}
.nav .nav-list .nav-blue {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #00BAFC;
  border-radius: 5px;
  padding: 8px 16px;
  text-decoration: none;
  transition: all 0.5s;
  border: 3px solid #00BAFC;
}
.nav .nav-list .nav-blue:hover {
  background: #fff;
  color: #00BAFC;
}
.nav .nav-list .nav-blue:active {
  background: rgba(0, 186, 252, 0.6);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}
.header .container .box {
  width: 45%;
}
.header .container .box .header-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */
  color: #000000;
  text-align: left;
}
.header .container .box .header-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 16px 0px;
  text-decoration: none;
  margin: 16px 0;
}
.header .container .box .header-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #00BAFC;
  border-radius: 5px;
  padding: 8px 16px;
  text-decoration: none;
  transition: all 0.5s;
  border: 3px solid #00BAFC;
}
.header .container .box .header-link:hover {
  background: #fff;
  color: #00BAFC;
}
.header .container .box .header-link:active {
  background: rgba(0, 186, 252, 0.6);
}
.header .container iframe {
  border-radius: 5px;
}

.main {
  text-align: center;
  padding: 56px 0;
}
.main .main-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 16px 0px;
  text-decoration: none;
  margin: 16px 0;
}
.main .main-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}
.main .main-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.main .main-list .main-itm {
  width: 30%;
  background: #FFFFFF;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}
.main .main-list .main-itm:hover {
  background: #FFFFFF;
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.main .main-list .main-itm:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.main .main-list .main-itm .main-strong {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #000000;
  margin: 16px 0;
}
.main .main-blue {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #00BAFC;
  border-radius: 5px;
  padding: 8px 16px;
  text-decoration: none;
  transition: all 0.5s;
  border: 3px solid #00BAFC;
}
.main .main-blue:hover {
  background: #fff;
  color: #00BAFC;
}
.main .main-blue:active {
  background: rgba(0, 186, 252, 0.6);
}
.main .main-link-non-blue {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #00BAFC;
  margin-left: 16px;
}

.how-work {
  padding: 55px 0;
}
.how-work .how-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */
  color: #000000;
}
.how-work .how-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 16px 0px;
  text-decoration: none;
  text-align: center;
}
.how-work .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how-work .how-box {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: center;
}
.how-work .how-box:nth-child(odd) {
  margin-left: 75px;
}
.how-work .how-box .how-box-img {
  width: 300px;
  height: auto;
}
.how-work .how-box .how-box-right {
  padding: 0 30px;
  width: 50%;
}
.how-work .how-box .how-box-right .how-strong {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}
.how-work .how-box .how-box-right .how-text {
  text-align: left;
}
.how-work .how-box-reverse {
  flex-direction: row-reverse;
}
.how-work .how-blue {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #00BAFC;
  border-radius: 5px;
  padding: 8px 16px;
  text-decoration: none;
  transition: all 0.5s;
  border: 3px solid #00BAFC;
}
.how-work .how-blue:hover {
  background: #fff;
  color: #00BAFC;
}
.how-work .how-blue:active {
  background: rgba(0, 186, 252, 0.6);
}

.book {
  background: #00BAFC;
  padding: 55px 0;
}
.book .book-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */
  color: #000000;
  color: #fff;
  text-align: center;
}
.book .book-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 16px 0px;
  text-decoration: none;
  color: #fff;
  text-align: center;
}
.book .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book .container .box-book {
  margin-top: 5%;
  width: 35%;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 24px;
}
.book .container .box-book form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.book .container .box-book form label {
  width: 100%;
}
.book .container .box-book .myname,
.book .container .box-book .phone-number,
.book .container .box-book .selection {
  width: 100%;
  padding: 16px;
  background: #F3F3F3;
  border-radius: 5px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: left;
  color: #000000;
  border: none;
  display: block;
  outline: none;
  margin-bottom: 16px;
}
.book .container .box-book .selection {
  display: block;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  background: url("../img/arrow.svg") no-repeat right #F3F3F3;
  background-position: center right 20px;
}
.book .container .box-book .form-button {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #00BAFC;
  border-radius: 5px;
  padding: 8px 16px;
  text-decoration: none;
  transition: all 0.5s;
  border: 3px solid #00BAFC;
  border: 3px solid #00BAFC;
  cursor: pointer;
}
.book .container .box-book .form-button:hover {
  background: #fff;
  color: #00BAFC;
}
.book .container .box-book .form-button:active {
  background: rgba(0, 186, 252, 0.6);
}

.footer-nav {
  background: #191919;
  padding: 55px 0;
}
.footer-nav .footer-list {
  display: flex;
}
.footer-nav .footer-list .copyright-itm {
  width: 30%;
}
.footer-nav .footer-list li {
  margin-right: 35px;
}
.footer-nav .footer-list li .footer-link,
.footer-nav .footer-list li .footer-social-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 16px 0px;
  text-decoration: none;
  color: #fff;
  margin: 4px 0;
  transition: all 0.5s;
}
.footer-nav .footer-list li .footer-link i,
.footer-nav .footer-list li .footer-social-link i {
  font-size: 21px;
  margin-right: 6px;
}
.footer-nav .footer-list li .footer-link:hover,
.footer-nav .footer-list li .footer-social-link:hover {
  color: #00BAFC;
}
.footer-nav .footer-list li .footer-link:hover i,
.footer-nav .footer-list li .footer-social-link:hover i {
  color: #fff;
}
.footer-nav .footer-list li .footer-link:active,
.footer-nav .footer-list li .footer-social-link:active {
  color: #00BAFC;
}
.footer-nav .footer-list li .footer-link:active i,
.footer-nav .footer-list li .footer-social-link:active i {
  color: #979797;
}
.footer-nav .footer-list li .footer-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 16px 0px;
  text-decoration: none;
  color: #fff;
  margin-top: 20px;
}
.footer-nav .footer-list li .footer-list-links,
.footer-nav .footer-list li .footer-social-list {
  margin-top: 20px;
}
.footer-nav .footer-strong,
.footer-nav .footer-info {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  /* identical to box height, or 26px */
  color: #FFFFFF;
}